openapi: 3.1.0
info:
  title: Open-Meteo APIs
  description: 'Open-Meteo offers free weather forecast APIs for open-source developers and non-commercial use. No API key is required.'
  version: '1.0'
  contact:
    name: Open-Meteo
    url: https://open-meteo.com
    email: info@open-meteo.com
  license:
    name: Attribution 4.0 International (CC BY 4.0)
    url: https://creativecommons.org/licenses/by/4.0/
  termsOfService: https://open-meteo.com/en/features#terms
servers:
  - url: https://api.open-meteo.com
    description: Production API
  - url: https://meteo-api.cloud.cmer.fr
    description: Custom instance

paths:
  /v1/forecast:
    get:
      tags:
      - Weather Forecast APIs
      summary: 7 day weather forecast for coordinates
      description: 7 day weather variables in hourly and daily resolution for given WGS84 latitude and longitude coordinates. Available worldwide.
      parameters:
      - name: hourly
        in: query
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            # Temperature variables
            - temperature_2m
            - relative_humidity_2m
            - dewpoint_2m
            - apparent_temperature
            - surface_temperature
            # Pressure variables
            - pressure_msl
            - surface_pressure
            # Cloud variables
            - cloud_cover
            - cloud_cover_low
            - cloud_cover_mid
            - cloud_cover_high
            # Wind variables
            - wind_speed_10m
            - wind_speed_80m
            - wind_speed_120m
            - wind_speed_180m
            - wind_direction_10m
            - wind_direction_80m
            - wind_direction_120m
            - wind_direction_180m
            - wind_gusts_10m
            - wind_u_component_10m
            - wind_v_component_10m
            - wind_u_component_80m
            - wind_v_component_80m
            - wind_u_component_120m
            - wind_v_component_120m
            - wind_u_component_180m
            - wind_v_component_180m
            # Radiation variables
            - shortwave_radiation
            - direct_radiation
            - direct_normal_irradiance
            - diffuse_radiation
            - terrestrial_radiation
            - sunshine_duration
            - uv_index
            - uv_index_clear_sky
            # Precipitation variables
            - precipitation
            - rain
            - showers
            - snowfall
            - precipitation_probability
            - snow_depth
            - snow_height
            # Atmospheric variables
            - vapour_pressure_deficit
            - et0_fao_evapotranspiration
            - weather_code
            - visibility
            - is_day
            - cape
            - lifted_index
            - convective_inhibition
            - freezing_level_height
            - boundary_layer_height
            - updraft_velocity
            - downdraft_velocity
            # Soil variables
            - soil_temperature_0cm
            - soil_temperature_6cm
            - soil_temperature_18cm
            - soil_temperature_54cm
            - soil_moisture_0_1cm
            - soil_moisture_1_3cm
            - soil_moisture_3_9cm
            - soil_moisture_9_27cm
            - soil_moisture_27_81cm
            # Energy flux variables
            - sensible_heat_flux
            - latent_heat_flux
            # Agricultural variables
            - growing_degree_days_base_0_limit_30
            - leaf_wetness_probability
            - skin_temperature
      - name: daily
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - temperature_2m_max
            - temperature_2m_min
            - apparent_temperature_max
            - apparent_temperature_min
            - precipitation_sum
            - precipitation_hours
            - weather_code
            - sunrise
            - sunset
            - wind_speed_10m_max
            - wind_gusts_10m_max
            - wind_direction_10m_dominant
            - shortwave_radiation_sum
            - uv_index_max
            - uv_index_clear_sky_max
            - et0_fao_evapotranspiration
      - name: latitude
        in: query
        required: true
        description: "WGS84 coordinate"
        schema:
          type: number
          format: double
      - name: longitude
        in: query
        required: true
        description: "WGS84 coordinate"
        schema:
          type: number
          format: double
      - name: current_weather
        in: query
        schema:
          type: boolean
      - name: temperature_unit
        in: query
        schema:
          type: string
          default: celsius
          enum:
          - celsius
          - fahrenheit
      - name: wind_speed_unit
        in: query
        schema:
          type: string
          default: kmh
          enum:
          - kmh
          - ms
          - mph
          - kn
      - name: precipitation_unit
        in: query
        description: "Other precipitation amount units"
        schema:
          type: string
          default: mm
          enum:
          - mm
          - inch
      - name: timeformat
        in: query
        description: If format `unixtime` is selected, all time values are returned in UNIX epoch time in seconds. Please not that all time is then in GMT+0! For daily values with unix timestamp, please apply `utc_offset_seconds` again to get the correct date.
        schema:
          type: string
          default: iso8601
          enum:
          - iso8601
          - unixtime
      - name: timezone
        in: query
        description: If `timezone` is set, all timestamps are returned as local-time and data is returned starting at 0:00 local-time. Any time zone name from the [time zone database](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones) is supported.
        schema:
          type: string
      - name: past_days
        in: query
        description: If `past_days` is set, yesterdays or the day before yesterdays data are also returned.
        schema:
          type: integer
          enum:
          - 1
          - 2
      - name: start_date
        in: query
        description: "The time interval to get weather data. A day must be specified as an ISO8601 date (e.g. 2022-06-30)."
        schema:
          type: string
          format: date
          pattern: '^\d{4}-\d{2}-\d{2}$'
      - name: end_date
        in: query
        description: "The time interval to get weather data. A day must be specified as an ISO8601 date (e.g. 2022-06-30). Note: start_date is required when end_date is specified."
        schema:
          type: string
          format: date
          pattern: '^\d{4}-\d{2}-\d{2}$'
      - name: start_hour
        in: query
        description: "The time interval to get weather data for hourly or 15 minutely data. Time must be specified as an ISO8601 date (e.g. 2022-06-30T12:00)."
        schema:
          type: string
          format: date-time
          pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}$'
      - name: end_hour
        in: query
        description: "The time interval to get weather data for hourly or 15 minutely data. Time must be specified as an ISO8601 date (e.g. 2022-06-30T12:00)."
        schema:
          type: string
          format: date-time
          pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}$'
      - name: start_minutely_15
        in: query
        description: "The time interval to get weather data for hourly or 15 minutely data. Time must be specified as an ISO8601 date (e.g. 2022-06-30T12:00)."
        schema:
          type: string
          format: date-time
          pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}$'
      - name: end_minutely_15
        in: query
        description: "The time interval to get weather data for hourly or 15 minutely data. Time must be specified as an ISO8601 date (e.g. 2022-06-30T12:00)."
        schema:
          type: string
          format: date-time
          pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}$'
      - name: models
        in: query
        description: "Manually select one or more weather models. Available models: meteofrance_arome_france_hd (Météo-France HD France), meteofrance_arome_france (Météo-France AROME 0.025°), meteofrance_arpege_europe (Météo-France ARPÈGE Europe), icon_eu (DWD ICON Europe), icon_global (DWD ICON Global), ecmwf_ifs025 (ECMWF IFS 0.25°), gfs013 (NCEP GFS 0.13°). If not specified, the server will use its default selection algorithm."
        schema:
          type: array
          items:
            type: string
            enum:
            - meteofrance_arome_france_hd
            - meteofrance_arome_france
            - meteofrance_arpege_europe
            - icon_eu
            - icon_global
            - ecmwf_ifs025
            - gfs013
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  latitude:
                    type: number
                    example: 52.52
                    description: WGS84 of the center of the weather grid-cell which was used to generate this forecast. This coordinate might be up to 5 km away.
                  longitude:
                    type: number
                    example: 13.419.52
                    description: WGS84 of the center of the weather grid-cell which was used to generate this forecast. This coordinate might be up to 5 km away.
                  elevation:
                    type: number
                    example: 44.812
                    description: The elevation in meters of the selected weather grid-cell. In mountain terrain it might differ from the location you would expect.
                  generationtime_ms:
                    type: number
                    example: 2.2119
                    description: Generation time of the weather forecast in milli seconds. This is mainly used for performance monitoring and improvements.
                  utc_offset_seconds:
                    type: integer
                    example: 3600
                    description: Applied timezone offset from the &timezone= parameter.
                  hourly:
                    $ref: "#/components/schemas/HourlyResponse"
                  hourly_units:
                    type: object
                    additionalProperties:
                      type: string
                    description: For each selected weather variable, the unit will be listed here.
                  daily:
                    $ref: "#/components/schemas/DailyResponse"
                  daily_units:
                    type: object
                    additionalProperties:
                      type: string
                    description: For each selected daily weather variable, the unit will be listed here.
                  current_weather:
                    $ref: "#/components/schemas/CurrentWeather"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: boolean
                    description: Always set true for errors
                  reason:
                    type: string
                    description: Description of the error
                    example: "Latitude must be in range of -90 to 90°. Given: 300"
  
  /v1/archive:
    get:
      tags:
      - Historical Weather APIs
      summary: 80 years of historical weather data
      description: Historical weather data from ERA5 reanalysis (1940-present) with hourly and daily resolution.
      parameters:
      - $ref: '#/components/parameters/latitude'
      - $ref: '#/components/parameters/longitude'
      - $ref: '#/components/parameters/hourly'
      - $ref: '#/components/parameters/daily'
      - $ref: '#/components/parameters/start_date'
      - $ref: '#/components/parameters/end_date'
      - $ref: '#/components/parameters/timezone'
      - $ref: '#/components/parameters/temperature_unit'
      - $ref: '#/components/parameters/wind_speed_unit'
      - $ref: '#/components/parameters/precipitation_unit'
      - $ref: '#/components/parameters/timeformat'
      responses:
        "200":
          $ref: '#/components/responses/WeatherResponse'
        "400":
          $ref: '#/components/responses/ErrorResponse'

  /v1/dwd-icon:
    get:
      tags:
      - Weather Model APIs
      summary: DWD ICON weather forecast
      description: German weather service (DWD) ICON model with high resolution data for Europe and global coverage.
      parameters:
      - $ref: '#/components/parameters/latitude'
      - $ref: '#/components/parameters/longitude'
      - $ref: '#/components/parameters/hourly'
      - $ref: '#/components/parameters/daily'
      - $ref: '#/components/parameters/current_weather'
      - $ref: '#/components/parameters/timezone'
      - $ref: '#/components/parameters/temperature_unit'
      - $ref: '#/components/parameters/wind_speed_unit'
      - $ref: '#/components/parameters/precipitation_unit'
      - $ref: '#/components/parameters/timeformat'
      - $ref: '#/components/parameters/past_days'
      - $ref: '#/components/parameters/forecast_days'
      responses:
        "200":
          $ref: '#/components/responses/WeatherResponse'
        "400":
          $ref: '#/components/responses/ErrorResponse'

  /v1/gfs:
    get:
      tags:
      - Weather Model APIs
      summary: NOAA GFS weather forecast
      description: US weather service (NOAA) GFS model with global coverage and high-resolution data for North America.
      parameters:
      - $ref: '#/components/parameters/latitude'
      - $ref: '#/components/parameters/longitude'
      - $ref: '#/components/parameters/hourly'
      - $ref: '#/components/parameters/daily'
      - $ref: '#/components/parameters/minutely_15'
      - $ref: '#/components/parameters/current_weather'
      - $ref: '#/components/parameters/timezone'
      - $ref: '#/components/parameters/temperature_unit'
      - $ref: '#/components/parameters/wind_speed_unit'
      - $ref: '#/components/parameters/precipitation_unit'
      - $ref: '#/components/parameters/timeformat'
      - $ref: '#/components/parameters/past_days'
      - $ref: '#/components/parameters/forecast_days'
      responses:
        "200":
          $ref: '#/components/responses/WeatherResponse'
        "400":
          $ref: '#/components/responses/ErrorResponse'

  /v1/meteofrance:
    get:
      tags:
      - Weather Model APIs
      summary: Météo-France weather forecast
      description: French weather service models including AROME (high-resolution France) and ARPEGE (Europe).
      parameters:
      - $ref: '#/components/parameters/latitude'
      - $ref: '#/components/parameters/longitude'
      - $ref: '#/components/parameters/hourly'
      - $ref: '#/components/parameters/daily'
      - $ref: '#/components/parameters/minutely_15'
      - $ref: '#/components/parameters/current_weather'
      - $ref: '#/components/parameters/timezone'
      - $ref: '#/components/parameters/temperature_unit'
      - $ref: '#/components/parameters/wind_speed_unit'
      - $ref: '#/components/parameters/precipitation_unit'
      - $ref: '#/components/parameters/timeformat'
      - $ref: '#/components/parameters/past_days'
      - $ref: '#/components/parameters/forecast_days'
      responses:
        "200":
          $ref: '#/components/responses/WeatherResponse'
        "400":
          $ref: '#/components/responses/ErrorResponse'

  /v1/ecmwf:
    get:
      tags:
      - Weather Model APIs
      summary: ECMWF weather forecast
      description: European Centre for Medium-Range Weather Forecasts with high-quality global forecasts.
      parameters:
      - $ref: '#/components/parameters/latitude'
      - $ref: '#/components/parameters/longitude'
      - $ref: '#/components/parameters/hourly'
      - $ref: '#/components/parameters/daily'
      - $ref: '#/components/parameters/timezone'
      - $ref: '#/components/parameters/temperature_unit'
      - $ref: '#/components/parameters/wind_speed_unit'
      - $ref: '#/components/parameters/precipitation_unit'
      - $ref: '#/components/parameters/timeformat'
      - $ref: '#/components/parameters/past_days'
      - $ref: '#/components/parameters/forecast_days'
      responses:
        "200":
          $ref: '#/components/responses/WeatherResponse'
        "400":
          $ref: '#/components/responses/ErrorResponse'

  /v1/jma:
    get:
      tags:
      - Weather Model APIs
      summary: JMA weather forecast
      description: Japan Meteorological Agency weather model with high-resolution data for Japan and Asia.
      parameters:
      - $ref: '#/components/parameters/latitude'
      - $ref: '#/components/parameters/longitude'
      - $ref: '#/components/parameters/hourly'
      - $ref: '#/components/parameters/daily'
      - $ref: '#/components/parameters/current_weather'
      - $ref: '#/components/parameters/timezone'
      - $ref: '#/components/parameters/temperature_unit'
      - $ref: '#/components/parameters/wind_speed_unit'
      - $ref: '#/components/parameters/precipitation_unit'
      - $ref: '#/components/parameters/timeformat'
      - $ref: '#/components/parameters/past_days'
      - $ref: '#/components/parameters/forecast_days'
      responses:
        "200":
          $ref: '#/components/responses/WeatherResponse'
        "400":
          $ref: '#/components/responses/ErrorResponse'

  /v1/metno:
    get:
      tags:
      - Weather Model APIs
      summary: MET Norway weather forecast
      description: Norwegian weather service model with high-resolution data for Nordic countries.
      parameters:
      - $ref: '#/components/parameters/latitude'
      - $ref: '#/components/parameters/longitude'
      - $ref: '#/components/parameters/hourly'
      - $ref: '#/components/parameters/daily'
      - $ref: '#/components/parameters/current_weather'
      - $ref: '#/components/parameters/timezone'
      - $ref: '#/components/parameters/temperature_unit'
      - $ref: '#/components/parameters/wind_speed_unit'
      - $ref: '#/components/parameters/precipitation_unit'
      - $ref: '#/components/parameters/timeformat'
      - $ref: '#/components/parameters/past_days'
      - $ref: '#/components/parameters/forecast_days'
      responses:
        "200":
          $ref: '#/components/responses/WeatherResponse'
        "400":
          $ref: '#/components/responses/ErrorResponse'

  /v1/gem:
    get:
      tags:
      - Weather Model APIs
      summary: Environment Canada GEM forecast
      description: Canadian weather service GEM model with high-resolution data for Canada and North America.
      parameters:
      - $ref: '#/components/parameters/latitude'
      - $ref: '#/components/parameters/longitude'
      - $ref: '#/components/parameters/hourly'
      - $ref: '#/components/parameters/daily'
      - $ref: '#/components/parameters/current_weather'
      - $ref: '#/components/parameters/timezone'
      - $ref: '#/components/parameters/temperature_unit'
      - $ref: '#/components/parameters/wind_speed_unit'
      - $ref: '#/components/parameters/precipitation_unit'
      - $ref: '#/components/parameters/timeformat'
      - $ref: '#/components/parameters/past_days'
      - $ref: '#/components/parameters/forecast_days'
      responses:
        "200":
          $ref: '#/components/responses/WeatherResponse'
        "400":
          $ref: '#/components/responses/ErrorResponse'

  /v1/air-quality:
    get:
      tags:
      - Specialized APIs
      summary: Air quality forecast
      description: Air quality data including PM2.5, PM10, ozone, nitrogen dioxide and other pollutants from CAMS.
      parameters:
      - $ref: '#/components/parameters/latitude'
      - $ref: '#/components/parameters/longitude'
      - name: hourly
        in: query
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - pm10
            - pm2_5
            - carbon_monoxide
            - nitrogen_dioxide
            - ozone
            - sulphur_dioxide
            - ammonia
            - dust
            - aerosol_optical_depth
            - carbon_dioxide
            - methane
      - $ref: '#/components/parameters/timezone'
      - $ref: '#/components/parameters/timeformat'
      - $ref: '#/components/parameters/past_days'
      - $ref: '#/components/parameters/forecast_days'
      responses:
        "200":
          $ref: '#/components/responses/WeatherResponse'
        "400":
          $ref: '#/components/responses/ErrorResponse'

  /v1/marine:
    get:
      tags:
      - Specialized APIs  
      summary: Marine weather forecast
      description: Wave height, wave period, wave direction and sea surface temperature forecasts.
      parameters:
      - $ref: '#/components/parameters/latitude'
      - $ref: '#/components/parameters/longitude'
      - name: hourly
        in: query
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - wave_height
            - wave_direction
            - wave_period
            - wind_wave_height
            - wind_wave_direction
            - wind_wave_period
            - swell_wave_height
            - swell_wave_direction
            - swell_wave_period
            - sea_surface_temperature
      - name: daily
        in: query
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - wave_height_max
            - wind_wave_height_max
            - swell_wave_height_max
      - $ref: '#/components/parameters/timezone'
      - $ref: '#/components/parameters/timeformat'
      - $ref: '#/components/parameters/past_days'
      - $ref: '#/components/parameters/forecast_days'
      responses:
        "200":
          $ref: '#/components/responses/WeatherResponse'
        "400":
          $ref: '#/components/responses/ErrorResponse'

  /v1/ensemble:
    get:
      tags:
      - Specialized APIs
      summary: Ensemble weather forecast
      description: Ensemble forecasts showing forecast uncertainty with multiple model runs.
      parameters:
      - $ref: '#/components/parameters/latitude'
      - $ref: '#/components/parameters/longitude'
      - $ref: '#/components/parameters/hourly'
      - $ref: '#/components/parameters/daily'
      - $ref: '#/components/parameters/timezone'
      - $ref: '#/components/parameters/temperature_unit'
      - $ref: '#/components/parameters/wind_speed_unit'
      - $ref: '#/components/parameters/precipitation_unit'
      - $ref: '#/components/parameters/timeformat'
      - $ref: '#/components/parameters/forecast_days'
      responses:
        "200":
          $ref: '#/components/responses/WeatherResponse'
        "400":
          $ref: '#/components/responses/ErrorResponse'

  /v1/elevation:
    get:
      tags:
      - Utility APIs
      summary: Elevation data
      description: Get elevation data for given coordinates using digital elevation models.
      parameters:
      - $ref: '#/components/parameters/latitude'
      - $ref: '#/components/parameters/longitude'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  elevation:
                    type: array
                    items:
                      type: number
                    description: Elevation in meters above sea level
        "400":
          $ref: '#/components/responses/ErrorResponse'

  /v1/flood:
    get:
      tags:
      - Specialized APIs
      summary: Flood forecast
      description: River discharge and flood forecasts from GloFAS (Global Flood Awareness System).
      parameters:
      - $ref: '#/components/parameters/latitude'
      - $ref: '#/components/parameters/longitude'
      - name: hourly
        in: query
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - river_discharge
            - river_discharge_mean
            - river_discharge_median
            - river_discharge_max
            - river_discharge_min
            - river_discharge_p25
            - river_discharge_p75
      - $ref: '#/components/parameters/timezone'
      - $ref: '#/components/parameters/timeformat'
      - $ref: '#/components/parameters/past_days'
      - $ref: '#/components/parameters/forecast_days'
      responses:
        "200":
          $ref: '#/components/responses/WeatherResponse'
        "400":
          $ref: '#/components/responses/ErrorResponse'

  /v1/seasonal:
    get:
      tags:
      - Specialized APIs
      summary: Seasonal weather forecast
      description: Long-range seasonal forecasts for temperature and precipitation up to 7 months ahead.
      parameters:
      - $ref: '#/components/parameters/latitude'
      - $ref: '#/components/parameters/longitude'
      - name: six_hourly
        in: query
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - temperature_2m_mean
            - temperature_2m_anomaly
            - precipitation_sum
            - precipitation_anomaly
      - $ref: '#/components/parameters/timezone'
      - $ref: '#/components/parameters/temperature_unit'
      - $ref: '#/components/parameters/precipitation_unit'
      - $ref: '#/components/parameters/timeformat'
      responses:
        "200":
          $ref: '#/components/responses/WeatherResponse'
        "400":
          $ref: '#/components/responses/ErrorResponse'

  /v1/climate:
    get:
      tags:
      - Specialized APIs
      summary: Climate change projections
      description: Climate change projections from CMIP6 models for different warming scenarios.
      parameters:
      - $ref: '#/components/parameters/latitude'
      - $ref: '#/components/parameters/longitude'
      - name: daily
        in: query
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - temperature_2m_mean
            - temperature_2m_max
            - temperature_2m_min
            - precipitation_sum
            - shortwave_radiation_sum
            - relative_humidity_2m_mean
            - wind_speed_10m_mean
      - $ref: '#/components/parameters/start_date'
      - $ref: '#/components/parameters/end_date'
      - $ref: '#/components/parameters/temperature_unit'
      - $ref: '#/components/parameters/precipitation_unit'
      - name: models
        in: query
        explode: false
        schema:
          type: array
          items:
            type: string
            enum:
            - EC_Earth3P_HR
            - FGOALS_f3_H
            - HiRAM_SIT_HR
            - MRI_AGCM3_2_S
            - EC_Earth3P
            - MPI_ESM1_2_XR
            - NICAM16_8S
      responses:
        "200":
          $ref: '#/components/responses/WeatherResponse'
        "400":
          $ref: '#/components/responses/ErrorResponse'
components:
  parameters:
    latitude:
      name: latitude
      in: query
      required: true
      description: "WGS84 coordinate"
      schema:
        type: number
        format: double
    longitude:
      name: longitude
      in: query
      required: true
      description: "WGS84 coordinate"
      schema:
        type: number
        format: double
    hourly:
      name: hourly
      in: query
      explode: false
      schema:
        type: array
        items:
          type: string
    daily:
      name: daily
      in: query
      explode: false
      schema:
        type: array
        items:
          type: string
    minutely_15:
      name: minutely_15
      in: query
      explode: false
      schema:
        type: array
        items:
          type: string
    current_weather:
      name: current_weather
      in: query
      schema:
        type: boolean
    temperature_unit:
      name: temperature_unit
      in: query
      schema:
        type: string
        default: celsius
        enum:
        - celsius
        - fahrenheit
    wind_speed_unit:
      name: wind_speed_unit
      in: query
      schema:
        type: string
        default: kmh
        enum:
        - kmh
        - ms
        - mph
        - kn
    precipitation_unit:
      name: precipitation_unit
      in: query
      description: "Other precipitation amount units"
      schema:
        type: string
        default: mm
        enum:
        - mm
        - inch
    timeformat:
      name: timeformat
      in: query
      description: If format `unixtime` is selected, all time values are returned in UNIX epoch time in seconds. Please not that all time is then in GMT+0! For daily values with unix timestamp, please apply `utc_offset_seconds` again to get the correct date.
      schema:
        type: string
        default: iso8601
        enum:
        - iso8601
        - unixtime
    timezone:
      name: timezone
      in: query
      description: If `timezone` is set, all timestamps are returned as local-time and data is returned starting at 0:00 local-time. Any time zone name from the [time zone database](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones) is supported.
      schema:
        type: string
    past_days:
      name: past_days
      in: query
      description: If `past_days` is set, yesterdays or the day before yesterdays data are also returned.
      schema:
        type: integer
        enum:
        - 1
        - 2
        - 3
        - 5
        - 7
    forecast_days:
      name: forecast_days
      in: query
      description: Number of forecast days
      schema:
        type: integer
        minimum: 1
        maximum: 16
        default: 7
    start_date:
      name: start_date
      in: query
      description: "The time interval to get weather data. A day must be specified as an ISO8601 date (e.g. 2022-06-30)."
      schema:
        type: string
        format: date
        pattern: '^\d{4}-\d{2}-\d{2}$'
    end_date:
      name: end_date
      in: query
      description: "The time interval to get weather data. A day must be specified as an ISO8601 date (e.g. 2022-06-30). Note: start_date is required when end_date is specified."
      schema:
        type: string
        format: date
        pattern: '^\d{4}-\d{2}-\d{2}$'
  
  responses:
    WeatherResponse:
      description: OK
      content:
        application/json:
          schema:
            type: object
            properties:
              latitude:
                type: number
                example: 52.52
                description: WGS84 of the center of the weather grid-cell which was used to generate this forecast. This coordinate might be up to 5 km away.
              longitude:
                type: number
                example: 13.41
                description: WGS84 of the center of the weather grid-cell which was used to generate this forecast. This coordinate might be up to 5 km away.
              elevation:
                type: number
                example: 44.812
                description: The elevation in meters of the selected weather grid-cell. In mountain terrain it might differ from the location you would expect.
              generationtime_ms:
                type: number
                example: 2.2119
                description: Generation time of the weather forecast in milli seconds. This is mainly used for performance monitoring and improvements.
              utc_offset_seconds:
                type: integer
                example: 3600
                description: Applied timezone offset from the &timezone= parameter.
              hourly:
                $ref: "#/components/schemas/HourlyResponse"
              hourly_units:
                type: object
                additionalProperties:
                  type: string
                description: For each selected weather variable, the unit will be listed here.
              daily:
                $ref: "#/components/schemas/DailyResponse"
              daily_units:
                type: object
                additionalProperties:
                  type: string
                description: For each selected daily weather variable, the unit will be listed here.
              current_weather:
                $ref: "#/components/schemas/CurrentWeather"
    ErrorResponse:
      description: Bad Request
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: boolean
                description: Always set true for errors
              reason:
                type: string
                description: Description of the error
                example: "Latitude must be in range of -90 to 90°. Given: 300"

  schemas:
    HourlyResponse:
      type: object
      description: For each selected weather variable, data will be returned as a floating point array. Additionally a `time` array will be returned with ISO8601 timestamps.
      required:
        - time
      properties:
        time:
          type: array
          items:
            type: string
        temperature_2m:
          type: array
          items:
            type: number
# Temperature variables
        relative_humidity_2m:
          type: array
          items:
            type: number
        dewpoint_2m:
          type: array
          items:
            type: number
        apparent_temperature:
          type: array
          items:
            type: number
        surface_temperature:
          type: array
          items:
            type: number
        # Pressure variables
        pressure_msl:
          type: array
          items:
            type: number
        surface_pressure:
          type: array
          items:
            type: number
        # Cloud variables
        cloud_cover:
          type: array
          items:
            type: number
        cloud_cover_low:
          type: array
          items:
            type: number
        cloud_cover_mid:
          type: array
          items:
            type: number
        cloud_cover_high:
          type: array
          items:
            type: number
        wind_speed_10m:
          type: array
          items:
            type: number
        wind_speed_80m:
          type: array
          items:
            type: number
        wind_speed_120m:
          type: array
          items:
            type: number
        wind_speed_180m:
          type: array
          items:
            type: number
        wind_direction_10m:
          type: array
          items:
            type: number
        wind_direction_80m:
          type: array
          items:
            type: number
        wind_direction_120m:
          type: array
          items:
            type: number
        wind_direction_180m:
          type: array
          items:
            type: number
        wind_gusts_10m:
          type: array
          items:
            type: number
        # Wind component variables
        wind_u_component_10m:
          type: array
          items:
            type: number
        wind_v_component_10m:
          type: array
          items:
            type: number
        wind_u_component_80m:
          type: array
          items:
            type: number
        wind_v_component_80m:
          type: array
          items:
            type: number
        wind_u_component_120m:
          type: array
          items:
            type: number
        wind_v_component_120m:
          type: array
          items:
            type: number
        wind_u_component_180m:
          type: array
          items:
            type: number
        wind_v_component_180m:
          type: array
          items:
            type: number
        # Radiation variables
        shortwave_radiation:
          type: array
          items:
            type: number
        direct_radiation:
          type: array
          items:
            type: number
        direct_normal_irradiance:
          type: array
          items:
            type: number
        diffuse_radiation:
          type: array
          items:
            type: number
        terrestrial_radiation:
          type: array
          items:
            type: number
        sunshine_duration:
          type: array
          items:
            type: number
        uv_index:
          type: array
          items:
            type: number
        uv_index_clear_sky:
          type: array
          items:
            type: number
        # Precipitation variables
        precipitation:
          type: array
          items:
            type: number
        rain:
          type: array
          items:
            type: number
        showers:
          type: array
          items:
            type: number
        snowfall:
          type: array
          items:
            type: number
        precipitation_probability:
          type: array
          items:
            type: number
        snow_depth:
          type: array
          items:
            type: number
        snow_height:
          type: array
          items:
            type: number
        # Atmospheric variables
        vapour_pressure_deficit:
          type: array
          items:
            type: number
        et0_fao_evapotranspiration:
          type: array
          items:
            type: number
        weather_code:
          type: array
          items:
            type: number
        visibility:
          type: array
          items:
            type: number
        is_day:
          type: array
          items:
            type: number
        cape:
          type: array
          items:
            type: number
        lifted_index:
          type: array
          items:
            type: number
        convective_inhibition:
          type: array
          items:
            type: number
        freezing_level_height:
          type: array
          items:
            type: number
        boundary_layer_height:
          type: array
          items:
            type: number
        updraft_velocity:
          type: array
          items:
            type: number
        downdraft_velocity:
          type: array
          items:
            type: number
        soil_temperature_0cm:
          type: array
          items:
            type: number
        soil_temperature_6cm:
          type: array
          items:
            type: number
        soil_temperature_18cm:
          type: array
          items:
            type: number
        soil_temperature_54cm:
          type: array
          items:
            type: number
        soil_moisture_0_1cm:
          type: array
          items:
            type: number
        soil_moisture_1_3cm:
          type: array
          items:
            type: number
        soil_moisture_3_9cm:
          type: array
          items:
            type: number
        soil_moisture_9_27cm:
          type: array
          items:
            type: number
        soil_moisture_27_81cm:
          type: array
          items:
            type: number
        # Energy flux variables
        sensible_heat_flux:
          type: array
          items:
            type: number
        latent_heat_flux:
          type: array
          items:
            type: number
        # Agricultural variables
        growing_degree_days_base_0_limit_30:
          type: array
          items:
            type: number
        leaf_wetness_probability:
          type: array
          items:
            type: number
        skin_temperature:
          type: array
          items:
            type: number
    DailyResponse:
      type: object
      description: For each selected daily weather variable, data will be returned as a floating point array. Additionally a `time` array will be returned with ISO8601 timestamps.
      properties:
        time:
          type: array
          items:
            type: string
        temperature_2m_max:
          type: array
          items:
            type: number
        temperature_2m_min:
          type: array
          items:
            type: number
        apparent_temperature_max:
          type: array
          items:
            type: number
        apparent_temperature_min:
          type: array
          items:
            type: number
        precipitation_sum:
          type: array
          items:
            type: number
        precipitation_hours:
          type: array
          items:
            type: number
        weather_code:
          type: array
          items:
            type: number
        sunrise:
          type: array
          items:
            type: number
        sunset:
          type: array
          items:
            type: number
        wind_speed_10m_max:
          type: array
          items:
            type: number
        wind_gusts_10m_max:
          type: array
          items:
            type: number
        wind_direction_10m_dominant:
          type: array
          items:
            type: number
        shortwave_radiation_sum:
          type: array
          items:
            type: number
        uv_index_max:
          type: array
          items:
            type: number
        uv_index_clear_sky_max:
          type: array
          items:
            type: number
        et0_fao_evapotranspiration:
          type: array
          items:
            type: number
        # Additional daily variables
        precipitation_probability_max:
          type: array
          items:
            type: number
        precipitation_probability_min:
          type: array
          items:
            type: number
        precipitation_probability_mean:
          type: array
          items:
            type: number
        rain_sum:
          type: array
          items:
            type: number
        showers_sum:
          type: array
          items:
            type: number
        snowfall_sum:
          type: array
          items:
            type: number
        snow_depth_max:
          type: array
          items:
            type: number
        snow_depth_mean:
          type: array
          items:
            type: number
        windspeed_10m_max:
          type: array
          items:
            type: number
        windgusts_10m_max:
          type: array
          items:
            type: number
        winddirection_10m_dominant:
          type: array
          items:
            type: number
        # Soil daily variables
        soil_temperature_0cm_mean:
          type: array
          items:
            type: number
        soil_temperature_6cm_mean:
          type: array
          items:
            type: number
        soil_temperature_18cm_mean:
          type: array
          items:
            type: number
        soil_temperature_54cm_mean:
          type: array
          items:
            type: number
        soil_moisture_0_1cm_mean:
          type: array
          items:
            type: number
        soil_moisture_1_3cm_mean:
          type: array
          items:
            type: number
        soil_moisture_3_9cm_mean:
          type: array
          items:
            type: number
        soil_moisture_9_27cm_mean:
          type: array
          items:
            type: number
        soil_moisture_27_81cm_mean:
          type: array
          items:
            type: number
      required:
        - time
    CurrentWeather:
      type: object
      description: "Current weather conditions with the attributes: time, temperature, wind_speed, wind_direction and weather_code"
      properties:
        time:
          type: string
        temperature:
          type: number
        wind_speed:
          type: number
        wind_direction:
          type: number
        weather_code:
          type: integer
      required:
        - time
        - temperature
        - wind_speed
        - wind_direction
        - weather_code
